<?xml version='1.0.0' encoding='utf-8'?>
<feature name="InAppBrowser">
	<param name= "ios-package" value="CDVInAppBrowser"/>
</feature>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hello World</name>
    <description>
        A sample Apache Cordova application.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Wycliffe O Sawo
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
